@import url(normalize.css);
/**/
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("type/proximanova-reg-webfont.eot");
  src: url("type/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("type/proximanova-reg-webfont.woff") format("woff"), url("type/proximanova-reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("type/proximanova-extrabold-webfont.eot");
  src: url("type/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("type/proximanova-extrabold-webfont.woff") format("woff"), url("type/proximanova-extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BemioItalicRegular';
  src: url("type/bemio_italic-webfont.eot");
  src: url("type/bemio_italic-webfont.eot?#iefix") format("embedded-opentype"), url("type/bemio_italic-webfont.woff") format("woff"), url("type/bemio_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: 'ProximaNovaRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #333333;
  color: #333333; }
  body a, body a:visited {
    color: #ff6644; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 2px #fff;
  background-color: #fff; }

header {
  margin: 0;
  width: 100%;
  padding: 1.42rem;
  border-bottom: 1px solid #dedede; }
  header h1 {
    margin: 0;
    padding: 0; }

h1, h2 {
  font-family: "BemioItalicRegular", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #000; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 25px; }

h3 {
  font-family: 'ProximaNovaExtraBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ff6644; }

h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: #CCC; }

#main {
  margin: 0;
  float: left;
  width: 100%;
  padding: 0;
  background-color: white; }

#content {
  float: left;
  width: 66.66667%;
  padding: 0; }
  @media only screen and (max-width: 770px) {
    #content {
      clear: left;
      width: 100%;
      padding: 0; } }
  #content article {
    width: 100%;
    padding: 1.42rem; }
  #content p {
    padding: 1rem;
    line-height: 1.4rem; }
  #content figure {
    width: 41.66667%;
    padding: 1.42rem;
    min-width: 240px;
    float: right;
    border: .5rem solid #fff;
    border-bottom: none; }
    @media only screen and (max-width: 600px) {
      #content figure {
        min-width: 280px;
        margin: 0 auto;
        float: none; } }
    #content figure img {
      max-width: 100%;
      margin: 0; }
    #content figure figcaption {
      padding: 0;
      margin: 0;
      text-align: center;
      background-color: #fff; }
  #content #reviews {
    border-top: 3px double #dedede;
    width: 100%;
    padding: 1.42rem; }
    #content #reviews article {
      padding: 18px 20px 0 20px;
      background-color: #fff;
      border: 1px solid #dedede;
      border-bottom: 4px double #dedede;
      margin-bottom: 0rem; }
      #content #reviews article h3 {
        border-bottom: 1px solid #dedede;
        padding-bottom: .78rem;
        margin: 0; }
      #content #reviews article p {
        padding: 0; }

aside {
  height: 53rem;
  float: left;
  width: 33.33333%;
  padding: 1.42rem;
  background-color: #F4F1EF;
  border-left: 2px solid #dedede; }
  aside h2 {
    text-transform: uppercase; }
  @media only screen and (max-width: 770px) {
    aside {
      height: auto;
      clear: left;
      width: 100%;
      padding: 1.42rem;
      border-top: 1px solid #dedede; } }
  aside ul {
    list-style: none;
    padding: 0;
    line-height: 1rem; }
    aside ul li {
      line-height: 1.3rem; }

footer {
  width: 100%;
  padding: 1.42rem;
  text-align: center;
  background-color: white;
  border-top: 1px solid #dedede; }
  footer #phuse-logo {
    float: right;
    position: relative;
    top: -6px;
    width: 44px;
    height: 30px;
    background: url("logo.png") no-repeat; }
  footer h4 {
    margin: 0; }
